This is the about page!

<div><a href="/">HomePage</a></div>
<div><a href="/littleMermaid/adaptations/search">Search by Country</a></div>

{{#if user}}
<div><a href="login/suggest">Suggest</a> | <a href="login/suggestionsList">Suggestions List</a></div>
{{else}}
<div><a href="/login">Log In</a> | <a href="/login/register">Register</a></div>
{{/if}}
{{#if admin}}
<a href = "/login/maintain">Maintain</a>
{{/if}}