You are logged in!
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href = "/littleMermaid/adaptations">Go to Official Adaptations List</a>
<a href = "/auth/suggestionsList">Go to Suggestions List</a>
<a href = "/auth/suggest">Add a Suggestion</a>
<div><a href="/auth/logout">Log Out</a></div>
{{#if admin}}
<a href = "/auth/maintain">Maintain</a>
{{/if}}