You are logged in!
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href = "/littleMermaid/adaptations">Go to Official Adaptations List</a>
<a href = "/login/suggestionsList">Go to Suggestions List</a>
<a href = "/login/suggest">Add a Suggestion</a>
{{#if admin}}
<a href = "/login/maintain">Maintain</a>
{{/if}}