<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div><a href="/littleMermaid/adaptations">Full Official List</a> | <a href="/littleMermaid/adaptations/search">Search by Country</a></div>
<div><a href="/login">Log In</a> | <a href="/login/register">Register</a></div>