<h1>{{title}}</h1>
Permission Denied!  You do not have permission to access this page.
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href = "/littleMermaid/adaptations">Go to Official Adaptations List</a>
{{#if user}}
<div><a href="auth/suggest">Suggest</a> | <a href="auth/suggestionsList">Suggestions List</a></div>
{{else}}
<div><a href="/auth/login">Log In</a> | <a href="/auth/register">Register</a></div>
{{/if}}
{{#if admin}}
<a href = "/auth/maintain">Maintain</a>
{{/if}}