Permission Denied!  You do not have permission to access this page.
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href = "/littleMermaid/adaptations">Go to Official Adaptations List</a>
{{#if user}}
<div><a href="login/suggest">Suggest</a> | <a href="login/suggestionsList">Suggestions List</a></div>
{{else}}
<div><a href="/login">Log In</a> | <a href="/login/register">Register</a></div>
{{/if}}
{{#if admin}}
<a href = "/login/maintain">Maintain</a>
{{/if}}