<div>
Input Country of Origin, and we'll give you a list of titles, year, and a link.
<input type="text" name="country" id="country">
<button id="country-submit">Send</button>
</div>
<div id="answer"></div>
<script src='/javascripts/ajaxSearch.js'></script>
