Submit to Suggestions List!
<form method="POST">
title <input type="text" name="name">
director <input type="text" name="director">
screenwriter <input type="text" name="screenWriter">
company <input type="text" name="company">
country <input type="text" name="country">
year <input type="number" name="year">
link <input type="string" name="link">
<input type="submit">
</form>