<h1>{{title}}</h1>
Submit to Suggestions List!
<form method="POST">
title <input type="text" id="name" name="name">
director <input type="text" id="director" name="director">
screenwriter <input type="text" id="screenWriter" name="screenWriter">
company <input type="text" id="company" name="company">
country <input type="text" id="country" name="country">
year <input type="number" id="year" name="year">
link <input type="string" id="link" name="link">
<input type="submit">
</form>
<div id="aboutLink"></div>
<div><a href="/">HomePage</a></div>
<div><a href="/about">About The Little Mermaid</a></div>
<a href="/auth/suggestionsList">Suggestions List</a></div>
<a href = "/littleMermaid/adaptations">Official Adaptations List</a>
<script src='/javascripts/jquery.js'></script>
  
  
<script src='/javascripts/clientSideFormValidation.js'></script>