Submit to Suggestions List!
<form method="POST">
title <input type="text" name="title">
director <input type="text" name="director">
screenwriter <input type="text" name="screenwriter">
company <input type="text" name="company">
year <input type="number" name="year">
link <input type="string" name="link">
<input type="submit">
</form>